{{!log 'customer pricing' this}}
<div class="table-responsive table_wrapper" style="overflow-x: auto;">
<table id="customer-pricing" class="table table-sm table-bordered"
data-toggle="table"
data-filter-control="true"
data-search="false"
data-show-columns="false"
data-pagination="true"
data-page-size="25"
data-page-length="25"
data-sortable="true"
data-show-loading="true"
style="table-layout: fixed; width: 50%; overflow-x: scroll; white-space: nowrap;"> 
<thead class="thead-dark">
    <tr>
    <th data-field="customerId" data-sortable="true" data-filter-control="select" title="Customer">Customer</th>
    <th data-field="isStaff" data-sortable="true" data-filter-control="select" title="isStaff">Is Staff</th>
    <th data-field="isLoyal" data-sortable="true" data-filter-control="select" title="isLoyal">Is Loyal</th>
    <th data-field="isDesparate" data-sortable="true" data-filter-control="select" title="isDesparate">Is Desparate</th>
    </tr>
    </thead>
    <tbody>
    {{#each customerData}}
        <tr>
        <td>{{customerId}}</td>
        <td>{{isStaff}}</td>        
        <td>{{isLoyal}}</td>
        <td>{{isDesparate}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>