 {{log 'product-cohort-fees.hbs' this}}
      {{#if feePlanAssociation}}
      <table>
        <tr>
        <th>Pricing Definition</th>
        <th>Cohort Fee Plans</th>
        </tr>
        {{#each feePlanAssociation.association.rows}}
        <tr>
          {{#each this.columns}}
          <td>{{operator}} {{value}}</td>
          {{/each}}
          <td>
          {{#each feePlanDetails}}
            {{log 'code' code '../feePlanCode' ../feePlanCode}}
            {{#ifEquals code ../feePlanCode}}
              {{> feeplan-template}}
            {{/ifEquals}}
          {{/each}}
          </td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
